{
  "env": {
    "dev": {
      "presets": [
        "react",
        [
          "env",
          {
            "targets": {
              "browsers": ["last 2 versions"],
              "node": "current"
            }
          }
        ]
      ]
    },
    "test": {
      "presets": [
        "react",
        [
          "env",
          {
            "targets": {
              "browsers": ["last 2 versions"],
              "node": "current"
            }
          }
        ]
      ],
      "test": ["jest"]
    }
  }
}
