.product-detail {
  margin-bottom: 15px;
}

.list-group-item .badge {
  font-size: 1rem;
}

.on-sale {
  text-decoration: line-through;
}

.disabled {
  cursor: not-allowed;
}

.red-border {
  border-color: red;
  background: white;
}

.help-text-size {
  font-size: 14px;
}

.red-font {
  color: red;
}
